### Pandas
- Panel Datas 

#### Pandas에서 제공하는 데이터 구조
1. Series : 1차원
- 인덱스(index)와 value
- column name(컬럼명) 존재하지 않음

2. DataFrame : 2차원
- 행과 열을 가지는 표와 같은 형태
- 서로 다른 자료형 저장 가능
- 1차원의 시리즈가 모여 2차원의 데이터프레임 구조가 된다

In [1]:
# Pandas 라이브러리 로딩(가져오기)

import pandas as pd

### Series Data Structure

In [6]:
# Series 생성하기 (리스트 활용)
# 인덱스는 0부터 자동으로 부여된다

population = pd.Series([9904312,3448737,2890451,1466052])
print(population)

0    9904312
1    3448737
2    2890451
3    1466052
dtype: int64

In [10]:
# 인덱스 이름을 지정해서 Series 생성하기
#  인덱스값과 데이터 value 개수가 같아야 함 (1:1로 대응되는 자료구조)

population = pd.Series([9904312,3448737,2890451,1466052], 
                      index = ["서울", "부산", "인천", "광주"])
print(population)

서울    9904312
부산    3448737
인천    2890451
광주    1466052
dtype: int64

#### Series 데이터 확인

In [13]:
# Series 값 확인
# 시리즈명(변수명).values

population.values
# Series의 데이터 values는 ndArray(넘파이 배열) 형태이다

array([9904312, 3448737, 2890451, 1466052], dtype=int64)

In [14]:
# Series 인덱스 값 확인
# 시리즈명(변수명).index

population.index
# dtype = 'object' => 문자열 의미

Index(['서울', '부산', '인천', '광주'], dtype='object')

In [19]:
# Series 이름 지정
# 사용이유?? => 이름을 지정해주면 시리즈를 직관적으로 이해할 수 있다

# 시리즈명.name = '지어줄 이름'
population.name = '인구수'
population

도시
서울    9904312
부산    3448737
인천    2890451
광주    1466052
Name: 인구수, dtype: int64

In [17]:
# Series Index에 이름 지정
# 시리즈명.index.name = '지어줄 이름'

population.index.name = '도시'
population

도시
서울    9904312
부산    3448737
인천    2890451
광주    1466052
Name: 인구수, dtype: int64

#### Series 데이터 구조의 연산
- 요소별로 데이터 연산이 진행된다

In [21]:
# Series 데이터 구조는 넘파이배열 기반 --> 요소별 연산이 가능하다!!!!
population / 1000000

도시
서울    9.904312
부산    3.448737
인천    2.890451
광주    1.466052
Name: 인구수, dtype: float64

#### Series 인덱싱 & 슬라이싱